/* main styling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}
img {
     max-width: 100%; height: auto; 
    }
.body{
    font-family: 'Varela Round', sans-serif;
   
}

.container-fluid{
    margin: 0;
}
.bgfooter{
    background-color: whitesmoke;
    margin-bottom: 0;
    padding: 20px;
}
.footer p{
    margin-top: 20px;
    text-align:center;
}
/* navbar styling */
#navbar{
    background-color: whitesmoke;
    color: #222;
    border-bottom: 1.5px salmon solid;
    
}
#navbar ul{
    margin-top:43px;
    float: right;
}
#navbar li {
    float: left;
    list-style-type: none;
    
}
#navbar a{
    color: black;
}
#navbar a:hover{
    text-decoration: none;
    color: #fff;
}
/* jumbotron Section */
.jumbotron{
    background: linear-gradient( rgba(0, 0, 0,
    0.5), rgba(0, 0, 0, 0.5)), url("../IMG/hokiehokiehey.jpg")
     no-repeat center center ;
     background-size: cover;
     margin: 0;
     margin-bottom: 0 !important;
     border-radius: 0 !important;
}
.jumbotron img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: solid 1.5px #f4f4f4;
    margin-bottom: 130px;
    margin-left: 0;
    margin-right: 00;
    
}
.jumbotron ul{
    color: #fff;
    display: inline-block;
    margin-left: 0px;
    margin-top: 100px;

   
}
.jumbotron ul h2{
    margin:20px;
   
    
}
.jumbotron ul h3{
    margin: 20px;

}
/*Box Styling*/
.box{
    width: 33.33%;
    background-color: whitesmoke;
    border: 1.5px black solid;
    border-right: none;
    border-left: none; 
    text-align: center;
    padding: 10px;
    float: left;
    height: 50vh;
}
.box2{
    width: 33.33%;
    background-color: whitesmoke;
    border: 1.5px black solid; 
    text-align: center;
    padding: 10px;
    float: left;
    height: 50vh;
}
/* Styling */
.btnprimary{
    border-radius: 5px;
    border: 1.5px solid #222;
    background-color: #f4f4f4;
    padding: 10px;
    margin-right: 10px;
}

.btnprimary:hover{
    background-color: black;
}

.blacktext{
    color: black;
}
.whitetext{
    color: #f4f4f4;
}
.logo{
    padding: 30px 0 0 0;
    display: inline-block;
}
.addpadding{
    padding: 20px;
}
.box50{
    border-top: none;
}